body {
  /*display: none;*/
  font-family: 'Ubuntu', sans-serif;
}

body.faq {
  color: #122b5a;
}

/* TITOLO HEADER */

.faq h2{
  font-weight: normal;
  margin-bottom: 54px;
  margin-top: 93px;
  font-size: 30px;
  font-weight: 400;
}

/* ELEMENTI ACCORDION */
.faq .icon{
  /*float: right;*/
  color: #86c5e3;
  position: absolute;
  right: 0px;
  margin: 0px 22px 0px 0px;
  font-size: 24px;
}

.faq .title{
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.faq .text{
  font-size: 20px;
  display: none;
  padding: 0px 10px 0px 10px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 31px;
}

.faq .wrap-text {
  border-bottom: 1px solid #e9ecf1;
  margin-bottom: 30px;
}

.relative {
  position: relative
}

/* TAGS */
.faq .tags {
  margin: 65px -15px 0px -15px;
}
.faq .tags ul {
  padding: 0px;
  margin: 0px;
}
.faq .tags ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 12px;
  list-style: none;
  background-color: #e6f4f9;
  font-size: 20px;
  /*font-weight: 300;*/
  padding: 6px 22px;
  border-radius: 24px;
  letter-spacing: 0px;

}
.faq .tags .selected {
  background-color: #73C7E6;
}

.faq .tags a {
  color: #122b5a;
}

.max-w {
  max-width: 1060px;
}





/* WCM Glossary */

.cmp-glossary {
  color: #0b2b5d;
}

.cmp-glossary h2{
  font-weight: normal;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 400;
}

.cmp-glossary .content-text{
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 18px;
}

.cmp-glossary .icon{
  color: #86c5e3;
  position: absolute;
  right: 0px;
  margin: 0px 22px 0px 0px;
  font-size: 24px;
}

.cmp-glossary .title{
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.cmp-glossary .text{
  font-size: 20px;
  display: none;
  padding: 0px 10px 0px 10px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 31px;
}

.cmp-glossary .content-text{
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  font-weight: 400;
  line-height: 31px;
  margin-top: 18px;
}

.cmp-glossary .title-first {
  padding-top: 30px;
  box-shadow: 0px 2px 0px #e8ecf1 inset;
}

.cmp-glossary .wrap-text {
  border-bottom: 2px solid #e8ecf1;
  margin-bottom: 30px;
}

/* TAGS */
.cmp-glossary .letters {
  margin: 30px -15px 35px -15px;
}
.cmp-glossary .letters ul {
  padding: 0px;
  margin: 0px;
}
.cmp-glossary .letters ul li {
  float: left;
  margin-right: 9px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #d8e7fb;
  font-size: 16px;
  border-radius: 40px;
  width: 48px;
  height: 48px;
  letter-spacing: 0px;

}
.cmp-glossary .letters .selected {
  background-color: #4388eb;
}

.cmp-glossary .letters a {
  color: #0B2B5D;
  text-align: center;
  line-height: 48px;
}
/* END WCM Glossary */



/* WCM Modules */
.cmp-modules {
  color: #122b5a;
}


.cmp-modules h2{
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 93px;
  font-size: 30px;
  font-weight: 400;
}

.cmp-modules .icon{
  color: #2B88F3;
  position: absolute;
  right: 0px;
  margin: 0px 22px 0px 0px;
  font-size: 24px;
}
.cmp-modules .title{
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.cmp-modules .title span {
  font-weight: 600;
}
.cmp-modules .content-text {
  font-size: 20px;
}
.cmp-modules .text {
  display: none;
}
.cmp-modules .text p{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 31px;
}

.cmp-modules .title-first {
  padding-top: 30px;
  box-shadow: 0px 2px 0px #e8ecf1 inset;
}

.cmp-modules .wrap-text {
  border-bottom: 2px solid #e8ecf1;
  margin-bottom: 30px;
}

.relative {
  position: relative
}

.cmp-modules .tags {
  margin: 30px -15px 40px -15px;
}
.cmp-modules .tags ul {
  padding: 0px;
  margin: 0px;
}
.cmp-modules .tags ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 12px;
  list-style: none;
  background-color: #d8e7fb;
  color: #0B2B5D;
  font-size: 20px;
  padding: 6px 22px;
  border-radius: 24px;
  letter-spacing: 0px;

}
.cmp-modules .tags .selected {
  background-color: #2B88F3;
}

.cmp-modules .attachments-box {
  background-color: #f2f4f7;
  padding: 23px;
  margin-bottom: 76px;
}
.cmp-modules .attachments-box .file-item{
  display: block;
  background-color: white;
  color: #0b2b5d;
  padding: 18px;
  margin-bottom: 13px;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  border: 2px solid black;
}
.cmp-modules .attachments-box .file-icon{
  /*border-bottom: 2px solid;*/
  margin-right: 18px;
  width: 16px;
  height: 21px;
  font-size: 21px;
}
.cmp-modules .attachments-box .file-title{
  margin-left: 34px;
}
.cmp-modules .attachments-box .icon-box{
  float: left;
  margin: 3px 0px 0px 0px;
  border-bottom: 2px solid #0b2b5d;
  width: 16px;
  height: 23px;
}
.cmp-modules  .attachments-box .file-item:hover .file-icon{
  margin-top: 3;
  margin-bottom: -3px;
  animation-name: att-icon;
  animation-duration: 0.6s;
}
.cmp-modules  .attachments-box .file-item:hover {
  color: #2b88f3;
  animation-name: att-icon-item;
  animation-duration: 0.6s;
}
.cmp-modules  .attachments-box .file-item:hover .icon-box{
  border-bottom: 2px solid #2b88f3;
  animation-name: att-icon-box;
  animation-duration: 0.6s;
}
@keyframes att-icon {
  from {
    margin-top: 0;
    margin-bottom: 0px;
  }
  to {
    margin-top: 3;
    margin-bottom: -3px;
  }
}
@keyframes att-icon-box {
  from {border-bottom: 2px solid #0b2b5d;}
  to   {border-bottom: 2px solid #2b88f3;}
}
@keyframes att-icon-item {
  from {color: #0b2b5d;}
  to   {color: #2b88f3;}
}
/* END WCM Modules */


/* WCM Side Menu */
.side-menu {
  color: #0b2b5d;
  padding: 52px 0px 41px 0px;
}
.side-menu .menu-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 22px 0px;
}
.side-menu .menu {
  margin-bottom: 0px;
}
.side-menu .item{
  font-size: 16px;
}
.side-menu .item .icon {
  float: right;
  margin: 6px -10px 0px 0px;
  font-size: small;
}
.side-menu .item a{
  padding: 14px 20px 15px 0px;
  color: #0b2b5d;
  text-decoration: none;
  border-bottom: 2px solid #E8ECF1;
  display: block;
}
.side-menu .selected a, .side-menu .selected .icon{
  color: #2B88F3;
}
.side-menu .item a:hover .icon{
  margin-right: -20px;
  color: #2B88F3;
  animation-name: menu-icon;
  animation-duration: 0.6s;
}
.side-menu .item a:hover {
  color: #2B88F3;
  animation-name: menu-text;
  animation-duration: 0.6s;
}
@keyframes menu-text {
  from {color: #0b2b5d;}
  to   {color: #2B88F3;}
}
@keyframes menu-icon {
  from {color: #0b2b5d; margin-right: -10px;}
  to   {color: #2b88f3; margin-right: -20px;}
}
/* END WCM Side Menu */

/* WCM Help */

.help-box {
  padding: 52px 0px 41px 0px;
  color: #0B2B5D;
}
.help-box .title {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 24px 0px;
}
.help-box .menu {

}
.help-box .menu .item{

}
.help-box .menu a{
  font-size: 20px;
  text-decoration: underline;
  margin: 0px 0px 20px 0px;
  display: block;
  color: #0B2B5D;
}
.help-box .menu .selected a{

}

/* END WCM Help */


/* WCM Notices */
.cmp-notices {
  color: #0B2B5D;
  padding-top: 50px;
  padding-bottom: 220px;
}

.cmp-notices .notice {
  margin-bottom: 43px;
}

.cmp-notices a{
  color: #0B2B5D;
  text-decoration: none;
}

.cmp-notices .date{
  font-size: 16px;
  margin-bottom: 9px;
  margin-top: 43px;
}

.cmp-notices .title {
  font-size: 30px;
  font-weight: normal;
  border-bottom: 2px solid #E8ECF1;
  padding-bottom: 24px;
}

.cmp-notices .read-more {
  border: 2px solid #E8ECF1;
  text-align: center;
  display: block;
  width: 214px;
  height: 62px;
  padding: 16px 18px 19px 18px;
  text-align: left;
  margin: 98px auto 0px auto;
}

.cmp-notices .read-more .text{
  font-size: 20px;
  display: inline;
}
.cmp-notices .read-more .icon{
  float: right;
  margin: 7px 0px 0px 0px;
}

/* END WCM Notices */


/* WCM News */
.cmp-news {
  color: #0B2B5D;
  padding-top: 50px;
  padding-bottom: 220px;
}

.cmp-news .notice {
  margin-bottom: 43px;
}

.cmp-news a{
  color: #0B2B5D;
  text-decoration: none;
}

.cmp-news .date{
  font-size: 16px;
  margin-bottom: 9px;
  margin-top: 43px;
}

.cmp-news .notice .title {
  font-size: 30px;
  font-weight: normal;
  border-bottom: 2px solid #E8ECF1;
  padding-bottom: 40px;
}

.cmp-news .read-more {
  border: 2px solid #E8ECF1;
  text-align: center;
  display: block;
  width: 214px;
  height: 62px;
  padding: 16px 18px 19px 18px;
  text-align: left;
  margin: 98px auto 0px auto;
}

.cmp-news .read-more .text{
  font-size: 20px;
  display: inline;
}
.cmp-news .read-more .icon{
  float: right;
  margin: 7px 0px 0px 0px;
}

/* TAGS */
.cmp-news .tags {
  margin: 65px -15px 0px -15px;
}
.cmp-news .tags ul {
  padding: 0px;
  margin: auto;
}
.cmp-news .tags ul li {
  float: left;
  margin-right: 10px;
  margin-bottom: 12px;
  list-style: none;
  background-color: #e6f4f9;
  font-size: 20px;
  /*font-weight: 300;*/
  padding: 6px 22px;
  border-radius: 24px;
  letter-spacing: 0px;

}
.cmp-news .tags .selected {
  background-color: #73C7E6;
}

.cmp-news .tags a {
  color: #122b5a;
}

.cmp-news .top-box {
  background-color: #F2F4F7;
  padding: 27px 36px 27px 36px;
  /*margin: 0px 0px 60px 0px;*/
  margin-bottom: 60px;
}
.cmp-news .top-box .title {
  font-size: 27px;
  margin-bottom: 15px;
  font-weight: lighter;
}
.cmp-news .top-box .text {
  font-size: 20px;
}

.cmp-news .filters {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.cmp-news .filters li {
  display: inline;
  float: left;
  width: auto;
}

.cmp-news .filter-item {
  border: 2px solid #E8ECF1;
  text-align: center;
  display: block;
  min-width: 216px;
  height: 62px;
  padding: 16px 18px 19px 18px;
  text-align: left;
  margin-right: 20px;
  margin-top: 10px;
}

.cmp-news .filter-item:hover {
  animation-name: filter-hover;
  animation-duration: 0.6s;
  padding-right: 8px;
  color: #73C7E6;
}
.cmp-news .filter-item:hover .icon{
  animation-name: filter-hover-icon;
  animation-duration: 0.6s;
  margin-left: 30px;
}

.cmp-news .filter-item .text{
  font-size: 20px;
  display: inline;
}
.cmp-news .filter-item .icon{
  float: right;
  margin: 7px 0px 0px 20px;
  font-size: 16px;
}
@keyframes filter-hover {
  from {
    padding-right: 18px;
  }
  to {
    padding-right: 8px;
    color: #73C7E6;
  }
}
@keyframes filter-hover-icon {
  from { margin-left: 20px; }
  to { margin-left: 30px; }
}
/* END WCM News */
