/* CSS */


/*
    DEMO STYLE
*/




.col-11 {
    flex-grow: 1;
    transition: all 400ms ease;
  }
  
  .col-9 {
    width: 0; 
    flex-shrink: 1;
    transition: all 400ms ease;
  }


  .col-3 {
    flex-grow: 1;
    transition: all 400ms ease;
  }
  
  .col-1 {
    width: 0; 
    flex-shrink: 1;
    transition: all 400ms ease;
  }